<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3VFE8L8Zutq3jVUugVQgCt0rZqNKfzsI</string>
	<key>GCM_SENDER_ID</key>
	<string>174982182702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.test-task-for-2x2</string>
	<key>PROJECT_ID</key>
	<string>test2x2-f01c6</string>
	<key>STORAGE_BUCKET</key>
	<string>test2x2-f01c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174982182702:ios:112eccb908a70b7af02cbf</string>
</dict>
</plist>